//Fuentes
@font-family-serif: "Indie Flower",
"Times New Roman",
Times,
serif;
@font-family-base: @font-family-serif;
@font-size-base: 20px;
@navbar-inverse-color: lighten(@gray-light,
15%);
@navbar-inverse-bg: #4e6a82;
@navbar-inverse-border: darken(@navbar-inverse-bg,
10%);
//@navbar-inverse-link-color:                 lighten(@gray-light, 15%);
@navbar-inverse-link-color: white;
@navbar-inverse-link-hover-color: black;
@navbar-inverse-link-hover-bg: white;
@navbar-inverse-link-active-color: @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg: darken(@navbar-inverse-bg,
10%);
@navbar-inverse-link-disabled-color: #444;
@navbar-inverse-link-disabled-bg: transparent;
@body-bg: #fcf7cd;
@text-color: black;
@brand-primary: darken(grey,
6.5%);
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    color: @gray-dark;
    background-color: #f5f5f5;
    ul{padding: 0px;}
    .social-icons {
        float: left;
        list-style: none;
    }
}

.oculto { 
	display:none;
	link:trasnsparent;
	
}

/*Iconos para redes sociales, mediante un sprite*/
.social-icons { background: transparent url('../img/sprites.png') no-repeat; list-style:none;float:left;text-indent: -9999px;}
.digg { width: 72px; height: 72px; background-position: 0 0; }
.dribbble { width: 72px; height: 72px; background-position: 0 -73px; }
.email { width: 72px; height: 72px; background-position: 0 -146px; }
.facebook { width: 72px; height: 72px; background-position: 0 -219px; }
.flickr { width: 72px; height: 72px; background-position: 0 -292px; }
.forrst { width: 72px; height: 72px; background-position: 0 -365px; }
.googleplus { width: 72px; height: 72px; background-position: 0 -438px; }
.linkedin { width: 72px; height: 72px; background-position: 0 -511px; }
.pinterest { width: 72px; height: 72px; background-position: 0 -584px; }
.rss { width: 72px; height: 72px; background-position: 0 -657px; }
.share { width: 72px; height: 72px; background-position: 0 -730px; }
.skype { width: 72px; height: 72px; background-position: 0 -803px; }
.tumblr { width: 72px; height: 72px; background-position: 0 -876px; }
.twitter { width: 72px; height: 72px; background-position: 0 -949px; }
.youtube { width: 72px; height: 72px; background-position: 0 -1022px; }

